<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="slider">
        <ion-slides loop="true" speed="300" autoplay="2000" pager (ionSlideAutoplayStop)="autoPlay()"> 
            <ion-slide *ngFor="let slide of slidesArray">
                <img src="{{slide.img}}" alt="">
            </ion-slide>
        </ion-slides>
    </div>
    <div class="iocnMenu" *ngIf="isLogin">
        <ul class="menuList">
            <li (click)="goToOtherPage('activationCode')">
                <div>
                    <img src="img/key.png" alt="">
                </div>
                <div>
                    <span>激活码管理</span>
                </div>
            </li>
            <li (click)="goToOtherPage('newsList')">
                <div>
                    <img src="img/news.png" alt="">
                </div>
                <div>
                    <span>新闻要闻</span>
                </div>
            </li>
            <li (click)="goToOtherPage('salary')">
                <div>
                    <img src="img/salary.png" alt="">
                </div>
                <div>
                    <span>工资查询</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="tabs">
        <div class="tabsGuoup"  *ngIf="!isLogin">
            <ul class="tabsList">
                <li [ngClass]="{'active':panel.news}" (click)="switchPanel('news',1)">新闻要闻</li>
                <li [ngClass]="{'active':panel.data}" (click)="switchPanel('data',1)">海关数据统计</li>
            </ul>
            <div class="panel" *ngIf="panel.news">
                <ion-list>
                    <ion-item>
                        <ion-thumbnail item-start>
                        <img src="img/tou.png">
                        </ion-thumbnail>
                        <h2>My Neighbor Totoro</h2>
                        <p>Hayao Miyazaki • 1988</p>
                        <button ion-button clear item-end>View</button>
                    </ion-item>
                </ion-list>
            </div>
            <div class="panel" *ngIf="panel.data">
                <table class="table">
                    <thead>
                        <tr>
                            <th>统计名称</th>
                            <th>数值</th>
                            <th>百分比</th>
                            <th>占比</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>查验率</td>
                            <td>111</td>
                            <td>31%</td>
                            <td>15.23%</td>
                        </tr>
                        <tr>
                            <td>查验率</td>
                            <td>111</td>
                            <td>31%</td>
                            <td>15.23%</td>
                        </tr>
                        <tr>
                            <td>查验率</td>
                            <td>111</td>
                            <td>31%</td>
                            <td>15.23%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel"></div>
        </div>
        <div class="tabsGuoup" *ngIf="isLogin">
            <ul class="tabsList">
                <li [ngClass]="{'active':panel2.notice}" (click)="switchPanel('notice',2)">通知公告</li>
                <li [ngClass]="{'active':panel2.toBeDone}" (click)="switchPanel('toBeDone',2)">代办事项</li>
            </ul>
            <div class="panel" *ngIf="panel2.notice">
                <ion-list>
                    <ion-item>
                        <h2>通知通知</h2>
                        <p><span>1111</span><span>2222</span></p>
                    </ion-item>
                    <ion-item>
                        <h2>通知通知</h2>
                        <p><span>1111</span><span>2222</span></p>
                    </ion-item>
                    <ion-item>
                        <h2>通知通知</h2>
                        <p><span>1111</span><span>2222</span></p>
                    </ion-item>
                    <ion-item>
                        <h2>通知通知</h2>
                        <p><span>1111</span><span>2222</span></p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="panel" *ngIf="panel2.toBeDone">
                <ion-list>
                    <ion-item>
                        <h2>代办代办</h2>
                        <p><span>3333</span><span>4444</span></p>
                    </ion-item>
                    <ion-item>
                        <h2>代办代办</h2>
                        <p><span>3333</span><span>4444</span></p>
                    </ion-item>
                    <ion-item>
                        <h2>代办代办</h2>
                        <p><span>3333</span><span>4444</span></p>
                    </ion-item>
                    <ion-item>
                        <h2>代办代办</h2>
                        <p><span>3333</span><span>4444</span></p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        
    </div>
    

</ion-content>